<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RDS_DB_NAME" value="ebdb"/>
		<add key="RDS_HOSTNAME" value="aarr96boz2kh4c.cmlytvqfou6b.us-west-1.rds.amazonaws.com"/>
		<add key="RDS_PASSWORD" value="Ujz42UU7y*Vu"/>
		<add key="RDS_PORT" value="3306"/>
		<add key="RDS_USERNAME" value="MGoulding98"/>
	</appSettings>
</configuration>