@page "/admin/collisions"
@page "/admin"
@inherits OwningComponentBase<ICollisionRepository>

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>

</table>

@code {

}
