@page "/admin"

@model ProjectDriveSafe.Pages.Admin.IndexModel

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Project Drive Safe Admin</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>

    <component type="typeof(ProjectDriveSafe.Pages.Admin.Routed)" render-mode="ServerPrerendered" />
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>
