@page "/admin"

@model Collision_App.Pages.Admin.IndexModel

@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Project Drive Safe Admin</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>

    <p>Testing Testing 1 2 3 </p>
</body>
</html>
